---
import "../styles/global.css";
import LooperPedal from "../components/LooperPedal";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Looper</title>
    </head>
    <body>
        <h1>Looper</h1>
        <p id="latency-hint">Latency:</p>

        <div class="m-10">
            <LooperPedal client:load />
        </div>
    </body>
</html>
